/* for mobile */
@media only screen and (max-width: 767px) {
  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  main {
    overflow-x: hidden;
  }

  .logoArea img {
    width: 167px !important;
    height: 51px;
    margin: 29px auto;
  }

  .cardBody {
    width: unset;
    background: #fff !important;
    box-shadow: 5px 5px 5px #e9e9e9;
    padding: 23px 5px;
    margin: 0px 10px;
    z-index: 100;
  }

  .BannerTitle {
    font-style: normal;
    text-align: center;
    margin: 50px 12px;
    font-size: 22px;
    line-height: 30px;
    color: #414042;
  }

  .bannerArea .subtitle {
    font-size: 22px;
    font-family: NeueNormal;
    text-align: center;
    font-weight: 600;
    margin: 35px 0px 34px 0px;
    color: #414042;
  }

  .innerImageBox {
    max-width: unset !important;
    height: 200px;
    background-color: #f1f2f2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .imageBox {
    background: #f1f2f2;
    text-align: center;
    margin: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset !important;
  }

  .boxTitle p {
    font-size: 18px !important;
    color: #009444;
    display: block;
    line-height: 20pt !important;
    padding: 20px 0px 8px;
    font-weight: 600;
  }

  .boxBody p {
    font-size: 18px !important;
    position: relative;
    padding: 0px 63px;
    color: #414042;
    line-height: 1.5em !important;
  }
  .pTextTwo {
    margin-top: 0px !important;
    margin-left: -10px;
}
  .imageBox.boxBody {
    height: 150px;
  }

  .contentArea {
    margin: 20px auto;
    padding: 0px 16px;
  }
  ul.bMemberList {
    margin-bottom: -72px !important;
}
  .cardBody .bMemberList li {
    font-family: "NeueNormal";
    line-height: 24px !important;
    font-size: 18px !important;
    margin: 20px 0px !important;
  }
  .stepBox .imageBox {
    width: unset !important;
    height: 280px !important;
    box-shadow: 5px 5px 6px #cbcbcb;
    margin-bottom: 5px !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start !important;
    flex-direction: column;
    text-align: left;
    padding: 30px;
}
.stepBox .imageBox p{
  font-size: 18px !important;
}
  section.fullTimePunterArea.contentArea {
    margin-top: 0px;
  }

  .contentArea p {
    font-size: 18px !important;
    line-height: 30px !important;
    letter-spacing: 1px !important;
  }

  .innerShape {
    max-width: unset !important;
    margin-left: auto;
    padding: 0px 20px 0px 20px !important;
  }

  .innerShape h1 {
    color: #fff;
    line-height: 23pt;
    font-size: 19pt !important;
  }



  ul li {
    font-size: 18px;
    line-height: 30px !important;
    margin: -26px 0px 13px 10px !important;
    font-family: NeueBold;
    color: #414042;
  }
  .innerImageSection {
    margin: -20px auto 30px;
    max-width: 1100px !important;
}
  .innerImageSection .col-md-6 img {
    width: 318px !important;
    margin-left: 0px;
  }

  .innerImage img {
    width: 324px !important;
  }

  .contentArea p.shortP {
    width: 200px;
    text-align: right;
    color: rgb(65, 64, 66);
    font-family: NeueBold;
    margin: 40px 0px;
    font-size: 16pt !important;
  }

  ::marker {
    font-size: 44px !important;

  }

  .footerBotom {
    margin-top: 50px !important;
    margin-bottom: -50px !important;
    width: unset !important;
  }

  .innerFooterLeft {
    text-align: center;
  }

  .iconListArea {
    width: unset;
    text-align: left;
    margin-left: 40px;
  }

  .footerBar p {
    color: #fff;
    font-size: 18px !important;
    line-height: 24px !important;
  }


  .imageBox.boxBody {
    height: 380px;
    display: flex;
    flex-direction: column;
  }


  .boxBody p {
    font-size: 14pt !important;
    position: relative;
    padding: 0px 0px;
    color: #414042;
    line-height: 26pt !important;
  }

  .stepArea {
    margin-top: 0px;
    margin-left: -21px;
    padding: 0px !important;
  }

  .innerStepArea {
    padding: 0px;
  }

  .stepArea ul li {
    list-style: none;
  }

  .stepArea ul li img {
    width: 14px;
    margin-right: 5px !important;
  }

  .stepTitle {
    margin: 60px 0px 0px 0px;
  }

  .stepArea ul li .stepTitle span {
    font-family: BookManOldStyle;
    font-size: 18pt;
    line-height: 31pt;
  }

  .contentArea {
    padding-left: 10px;
    padding-right: 10px;
  }


  

  .winRateArea .imageBox.boxBody {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 15px 16px;
  }

  .winRateArea .boxTitle {
    height: 90px !important;
    display: flex;
    justify-content: center;
    align-items: center !important;
  }
  .contentArea h1 {
    width: unset !important;
    margin: 0px auto 40px;
    text-align: center;
    font-size: 18pt !important;
    line-height: 21pt;
    color: #414042;
}
.summariseArea .boxBody {
    width: unset !important;
    border-radius: 20px !important;
    margin: 0px 0px 0px 20px !important;
}
  .summariseArea .iconListArea ul li {
    font-size: 16px !important;
    text-align: left;
    width: unset !important;
    display: flex;
    padding: 3px 0px 0px 0px;
    margin: 10px 0px 0px -12px !important;
  }
  .summariseArea .iconListArea ul li div {
    margin-top: -7px;
}
  .summariseArea li i {
    background: #4bae4d;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    padding: 3px;
    font-size: 8px;
    color: #fff !important;
    margin-right: 5px;
  }

  .signature {
    font-family: BrittanySignatureRegular !important;
    color: #009444 !important;
    font-size: 25pt !important;
    line-height: 28pt !important;
    font-weight: 200 !important;
  }

  .btnArea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 35px;
  }

  .summariseArea .imageBox.boxBody {
    height: 431px !important;
    display: flex;
    flex-direction: column;
    padding: 15px 16px;

  }

  .summariseArea .iconListArea {
    width: unset;
    text-align: left;
    margin-left: 0px;
  }

  .summariseArea .summariseBtn {
    font-size: 12pt;
    line-height: 22pt;
    font-family: NeueSemiBold;
    color: #fff !important;
    background: #009444;
    border-radius: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 277px !important;
    height: auto;
    align-items: center;
  }

  .summariseArea .summariseBtn:hover {
    background: #fff;
    color: #009444 !important;
    border: 2px solid #009444;
  }



  .cardBody.firstBody {
    margin-top: -50px;

  }

  .winRateArea .imageBox.boxBody {
    height: 293px;
    display: flex;
    flex-direction: column;
  }

  .winRateArea {
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 40px 7px 30px;
    box-shadow: 5px 5px 5px #e9e9e9;
  }


  section.winRateArea.summariseArea {
    margin: 0px 0px 0px 16px;
  }

  .bettingList li,
  .scrapingList li {
    font-size: 20px !important;
    line-height: 24px !important;
    margin: 10px 0px !important;
    font-family: NeueBold !important;
    color: #414042;
  }

  footer .innerLogo img {
    width: 211px;
  }

  .footerLeft ul li {
    list-style: none;
    font-size: 17pt !important;
    line-height: 28pt !important;
    margin: 0px 0px 0px -30px !important;
  }

  .innerFooterRight img {
    width: 71%;
    margin: 0px 51px -9px 2px;
    text-align: left;
  }

  .footerBar {
    background: linear-gradient(90deg, #442f27 65%, #f1f2f2 98%);
    padding: 29px 0px 15px;
    margin: 20px 0px;
  }

  .innerFooterBar {
    margin: 0px 0px 0px 20px;
  }

  .footerText p {
    line-height: 26px !important;
    padding: 0px;
  }
}

/* for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    overflow-x: hidden;
  }

  .logoArea img {
    width: 250px !important;
    height: 95px;
    margin: 80px auto;
  }

  .contentArea {
    margin: 20px auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .cardBody {
    width: unset;
    margin: 0px 20px !important;
    padding: 50px 0px;
  }

  .BannerTitle {
    font-style: normal;
    text-align: center;
    margin: 30px 20px;
    font-size: 26pt;
    line-height: 34pt;
    color: #414042;
  }

  .bannerArea .subtitle {
    font-size: 28pt;
  }

  .imageBox {
    margin: 7px 0px;
    width: 236px !important;
  }

  .boxTitle p {
    font-size: 24px !important;
    color: #009444;
    display: block;
    line-height: 20pt !important;
    padding: 20px 0px 8px;
    font-weight: 600;
  }

  .boxBody p {
    font-size: 20pt !important;
    position: relative;
    padding: 0px 0px;
    color: #414042;
    line-height: 27pt !important;
  }

  .boxBody {
    height: 187px;
    padding: 15px 30px;
    margin: 9px 0px 0px 0px !important;
  }

  .contentArea p {
    font-size: 24pt !important;
    line-height: 44pt !important;
    letter-spacing: 1px !important;
  }

  .innerShape {
    max-width: unset !important;
    margin-left: 20px;
    padding-right: 20px !important;
  }

  .innerShape h1 {
    color: #fff;
    line-height: 37pt;
    font-size: 30px !important;
  }

  ul li {
    font-size: 26pt;
    line-height: 48px !important;
    margin: 6px 0px !important;
    font-family: NeueBold;
    color: #414042;
  }

  .bMemberList li {
    font-size: 24px !important;
    line-height: 48px !important;
    margin: 44px 0px !important;
    color: #414042;
  }

  ::marker {
    font-size: 55px;
    line-height: 36px !important;
  }

  .contentArea h1 {
    width: unset;
    margin: 40px auto;
    text-align: center;
    font-size: 32pt !important;
    line-height: 41pt;
    color: #414042;
  }

  .contentArea p.shortP {
    width: 335px;
    font-size: 28pt !important;
    line-height: 50pt;
  }

  .winRateArea .boxTitle {
    height: 100px !important;
  }

  .winRateArea .imageBox {
    width: 230px !important;
    border-radius: 0px !important;
    margin-bottom: 5px !important;
    box-shadow: none !important;
  }

  .winRateArea .boxBody p {
    text-align: center !important;
    font-size: 21px !important;
    padding: 20px 20px !important;
  }


  .innerImageSection {
    margin: 50px auto 50px;
    max-width: 1100px !important;
  }

  .innerImageSection p {
    padding-right: 52px;
    margin-top: 25px !important;
  }

  .innerImageSection .col-md-6 img {
    width: 350px !important;
    margin-left: -24px;
  }

  .innerLogo img {
    width: 300px !important;
  }


  .cardBody {
    width: unset;
    margin: 70px 25px 0px 25px;
    padding: 50px 0px;
  }

  .cardBody.firstBody {
    width: unset;
    padding: 0px 0px;
    border-radius: 0px !important;
}
.cardBody.firstBody .contentArea {
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
}
.pTextTwo {
  margin: -20px 0px 30px !important;
  margin-left: -10px;
}
  .cardBody .bMemberList li {
    font-family: "NeueNormal";
    line-height: 44px;
    font-size: 18px;
  }



  .boxBody p {
    font-size: 16pt !important;
    position: relative;
    padding: 0px 0px;
    color: #414042;
    line-height: 27pt !important;
  }

  .stepArea.contentArea {
    margin: -71px 0px 0px;
  }

  .stepBox .imageBox {
    width: 341px !important;
  }

  .stepBox .boxBody p {
    font-size: 20px !important;

  }

  .stepArea ul li {
    list-style: none;
  }

  .stepArea ul li img {
    width: 20px;
  }

  .stepArea ul li .stepTitle span {
    font-family: BookManOldStyle;
    font-size: 31pt;
    line-height: 43pt;
  }

  .contentArea p {
    font-size: 20pt !important;
    line-height: 35pt !important;
    letter-spacing: 1px !important;
  }

  .contentArea h1 {
    width: unset;
  }


  .summariseArea ul li {
    font-family: "NeueNormal";
    line-height: 46px !important;
    font-size: 19px !important;
  }



  .summariseArea .summariseBtn {
    font-size: 26pt;
    line-height: 50pt;
    font-family: NeueSemiBold;
    color: #fff !important;
    background: #009444;
    border-radius: 13px;
    text-transform: uppercase;
    width: unset;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

  .summariseArea .imageBox.boxBody {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: auto !important;
  }

  .summariseArea .boxBody {
    padding: 40px 30px 100px;
    margin-left: 0px !important;

  }

  .summariseArea .iconListArea ul li {
    font-size: 30px !important;
    display: flex !important;
    text-align: left;
    align-items: unset !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    margin: 40px 0px !important;
  }

  .summariseArea li i {
    background: #4bae4d;
    height: 38px;
    width: 38px;
    border-radius: 50px;
    padding: 5px;
    font-size: 27px;
    color: #fff !important;
    margin-right: 17px;
  }

  
  .footerBar {
    background: linear-gradient(90deg, #442f27 57%, #f1f2f2 97%);
    padding: 25px 0px 15px;
    margin: 20px 0px;
  }

  .footerLeft ul li {
    list-style: none;
    font-size: 24px !important;
    line-height: 42pt !important;
    margin: 0px 0px 0px -30px !important;
  }

  .innerFooterRight img {
    width: 100%;
    margin-top: 6px;
    margin-right: -30px;
  }


  .footerText p {
    text-align: center !important;
    font-weight: 400 !important;
    font-family: NeueNormal !important;
    color: #009444;
    padding: 0px 7px;
}

}